.boardupsContainer {
  position: relative;
}

.boardupsList {
  margin-top: 30px;
}

.boardup {
  height: fit-content;
  width: 100%;
  color: rgb(33 255 188);
  background-color: rgb(41, 41, 41);
  padding: 20px 0;
  margin-bottom: 15px;
  border-radius: 10px;
  box-sizing: border-box;
}

h1 {
  padding-left: 10px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px;
}

.img {
  width: 50%;
  height: inherit;
}

.info {
  width: 50%;
}

p {
  margin-left: 35px;
}

.buttons {
  display: flex;
}

button {
  padding: 6px 20px;
  margin-right: 10px;
  color:rgb(33 255 188);
  background-color: rgb(0, 0, 0);

  font-size: 15px;
  border-radius: 10px;

  display: flex;
  align-items: center;

}

button > p {
  margin-left: 10px;
}